nav {
  background-image: linear-gradient(
    to top,
    rgba(97, 190, 206, 0.849),
    rgb(110, 110, 224)
  );
  color: white;

  button,
  .button {
    position: relative;
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    border: 0;
    font-size: 10px;
    font-weight: 300;
    padding: 5px 23px 5px;
  }
}
.list-group-item {
  margin-left: 16px;
  margin-right: 16px;
  padding: 0;
  height: 90px;
  text-align: center;
}
.icon-max {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(97, 190, 206, 0.849),
    rgb(110, 110, 224)
  );
  border-radius: 5px;
  width: 15%;
  color: white;
  .icon-thumbnail{
    position: absolute;
    top: 50%;
      left: 25%;
  transform: translateY(-50%);
  }

  fa-icon {
    color: white;
  }
}
.contact {
  position: relative;
  background-color: whitesmoke;
}
.fit-to-parent {
  position: relative;
  height: 100%;
}
