<nav class="navbar shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"> Office Man </a>
    <button class="button">Add Office</button>
  </div>
</nav>

<ul class="list-group mt-5">
  <li class="list-group-item card shadow">
    <div class="d-flex flex-row flex-wrap fit-to-parent">
      <div class="icon-max fit-to-parent">
        <span class="icon-thumbnail"
          ><fa-icon [icon]="faCoffee"></fa-icon>
          <p class="">8/9</p></span
        >
      </div>
      <div class="contact fit-to-parent">
        <div class="card-body fit-to-parent">
          <div class="d-flex flex-row">
            <div class="flex-column">
              <p class="card-title">Office name</p>
              <small class="card-text__address">Address</small>
              <small class="card-text__email">info@example.com</small>
            </div>
            <div class="right-text">
              <button class="float-right"><fa-icon [icon]="faEllipsisV"></fa-icon></button>
              <p></p>
              <p class="card-text__email float-right small"><fa-icon [icon]="faPhone"></fa-icon>08000 0000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
