.dropdown-toggle::after {
    // content: "";
    visibility: hidden;
}
// .fa-ellipsis-v{

// &::after:active {
//   content: "\f00d"
// }
.dropdown-toggle:empty::after {
    margin-left: -34px;
}
.drop-down-menu {
    top: -7px;
    left: 14px;
}
