<ul class="list-group mt-4">
  <li class="list-group-item card shadow" *ngFor="let office of offices " >
    <div class="d-flex flex-row flex-wrap fit-to-parent">
      <div class="icon-max fit-to-parent" (click)="openOffice(office)">
        <span class="icon-thumbnail"
          ><i class="fas fa-user-friends"></i>
          <p class="max-number">{{office.maxOccupants}}</p></span
        >
      </div>
      <div class="contact fit-to-parent">
        <div class="card-body fit-to-parent">
          <div class="d-flex flex-row w-100 justify-content-between">
            <div class="d-flex flex-column justify-content-between">
              <h5 class="card-title mt-2 ml-2 mb-0">{{ office.officeName }}</h5>
              <small class="card-text fw-lighter ml-2 mt-0">{{office.address}}</small>
              <small class="card-text__email mb-3 ml-2 text-primary"
                >{{office.email}}</small
              >
            </div>
            <div class="d-flex flex-column justify-content-between">
              <div class="col text-right">
                <div
                  ngbDropdown
                  placement="bottom-right"
                  class="d-inline-block"
                >
                  <a
                    href="javascript:void(0);"
                    class="text-dark d-flex flex-column align-self-end"
                    id="dropdownBasic2"
                    ngbDropdownToggle
                    (click)="changeType(1)"
                    [ngClass]="toggle1 ? 'fas fa-ellipsis-v': 'fas fa-times'"
                  >

              </a>
                  <div ngbDropdownMenu aria-labelledby="" class="box-menu">
                    <button ngbDropdownItem class="d-flex flex-row flex-wrap justify-content-between " (click)="openModal('custom-modal-2', office)">Edit <i class="fas fa-pen"></i></button>
                    <button ngbDropdownItem class="d-flex flex-row   flex-wrap justify-content-between" (click)="openModalDel('custom-modal-3', office.id, office.officeName)">Remove <i class="fas fa-minus-circle"></i></button>
                  </div>
                </div>
              </div>
              <p
                class="card-text__email mt-3 d-flex align-self-end small text-primary"
              >
                <i class="fas fa-phone-alt text-dark px-2"></i>
                {{office.officeTel}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<!-- edit office modal -->

<app-modal id="custom-modal-2" >
  <a class="close custom-modal__close" (click)="closeModal('custom-modal-2')">&times;</a>
  <h3  class="custom-modal__title">Edit Office</h3>
  <!-- Form -->
  <form [formGroup]="editOfficeForm" (ngSubmit)="saveOffice(editOfficeForm.value)" class="custom-modal__form">
    <div class="row form-group justify-content-center" >
      <label>
        <input type="text" class="custom-modal__form-control" [formControlName]="'officeName'"
          placeholder="Office Name" />
      </label>
    </div>

    <div class="row form-group justify-content-center">
      <label>
        <input type="text" class="custom-modal__form-control" [formControlName]="'email'" placeholder="Email Address" />
      </label>
    </div>

    <div class="row form-group justify-content-center">
      <label>
        <input type="text" class="custom-modal__form-control" [formControlName]="'officeTel'" placeholder="Office Tel" />
      </label>
    </div>
    <div class="row form-group justify-content-center">
      <label>
        <input type="text" class="custom-modal__form-control" [formControlName]="'address'" placeholder="Address" />
      </label>
    </div>


    <div class="row form-group justify-content-center">
      <label>
        <input type="text" class="custom-modal__form-control" [formControlName]="'maxOccupants'"
          placeholder="Max number of occupants" />
      </label>
    </div>
    <div class="row form-group justify-content-center">
        <select class="custom-modal__form-select " aria-label="office color" [formControlName]="'officeColor'">
          <option value="" selected disabled hidden>Office color</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="greed">Greed</option>
          <option value="yellow">Yellow</option>
          <option value="purple">Purple</option>
          <option value="pink">Pink</option>
        </select>
      
    </div>

    <button type="submit" class="custom-modal__save-button">Save Office</button>
  </form>
</app-modal>
<!-- end of edit office modal -->

<!-- remove office modal -->
<app-modal id="custom-modal-3">
  <a class="close custom-modal__close" (click)="closeModal('custom-modal-3');">&times;</a>
  <h3 class="custom-modal__title">Remove Office</h3>
  <h6>Are you sure you want to <strong class="text-danger">Remove</strong ></h6>
  <h5 class="custom-modal__name text-danger">{{officeName}}</h5>
  
  <button (click)="removeOffice()" class="btn btn-danger">Remove</button>
</app-modal>
<!-- end of remove office -->