<ul class="list-group mt-4">
  <li class="list-group-item card shadow" (click)="openOffice()">
    <div class="d-flex flex-row flex-wrap fit-to-parent">
      <div class="icon-max fit-to-parent">
        <span class="icon-thumbnail"
          ><i class="fas fa-user-friends"></i>
          <p class="max-number">08/09</p></span
        >
      </div>
      <div class="contact fit-to-parent">
        <div class="card-body fit-to-parent">
          <div class="d-flex flex-row w-100 justify-content-between">
            <div class="d-flex flex-column justify-content-between">
              <h5 class="card-title mt-2 ml-2 mb-0">Office Name</h5>
              <small class="card-text fw-lighter ml-2 mt-0">Address</small>
              <small class="card-text__email mb-3 ml-2 text-primary"
                >info@example.com</small
              >
            </div>
            <div class="d-flex flex-column justify-content-between">
              <div class="col text-right">
                <div
                  ngbDropdown
                  placement="bottom-right"
                  class="d-inline-block"
                >
                  <a
                    href="javascript:void(0);"
                    class="text-dark d-flex flex-column align-self-end"
                    id="dropdownBasic2"
                    ngbDropdownToggle
                    (click)="changeType(1)"
                    [ngClass]="toggle1 ? 'fas fa-times': 'fas fa-ellipsis-v'"
                  >

              </a>
                  <div ngbDropdownMenu aria-labelledby="" class="box-menu">
                    <button ngbDropdownItem class="d-flex flex-row flex-wrap justify-content-between " (click)="changeType(1)">Edit <i class="fas fa-pen"></i></button>
                    <button ngbDropdownItem class="d-flex flex-row   flex-wrap justify-content-between" (click)="changeType(1)">Remove <i class="fas fa-minus-circle"></i></button>
                  </div>
                </div>
              </div>
              <p
                class="card-text__email mt-3 d-flex align-self-end small text-primary"
              >
                <i class="fas fa-phone-alt text-dark px-2"></i>
                08000 0000
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
