/* .dropdown-toggle::after {
    // content: "";
    visibility: hidden;
}
// .fa-ellipsis-v{

// &::after:active {
//   content: "\f00d"
// }
.dropdown-toggle:empty::after {
    margin-left: -34px;
} */
/* .dropdown-menu, .show {
    position: absolute;
    transform: translate3d(62px, 38px, 0px);
    top: -20px!important;
    left: -52px!important;
    will-change: transform;
    z-index: 1000;
} */
